name: Docker build
on:
  push:
    paths:
      - packages/trackx-api/Dockerfile
jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install --global pnpm
      - run: pnpm install --frozen-lockfile
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      - run: scripts/build --no-docker --no-git --skip-tests
      - name: Build trackx-api docker image
        run: docker build -t ci/trackx-api -f packages/trackx-api/Dockerfile packages/trackx-api/dist
      - run: .github/workflows/test-docker.sh
